<?xml version="1.0" encoding="##ENCODING##"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>twCKEditorPlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>A CKEditor Plugin</summary>
  <description>Provide CKEditor widget with CKFinder support - Fork of sfCKEditorPlugin</description>
  <lead>
    <name>Christophe Dafflon</name>
    <user>cdafflon</user>
    <email>cdafflon@gramatec.ch</email>
    <active>no</active>
  </lead>
  <developer>
    <name>Arkadiusz Tułodziecki</name>
    <user>ldath</user>
    <email>atulodzi@gmail.com</email>
    <active>yes</active>
  </developer>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>
     * ldath: stable release
     * ldath: optional PHPTal integrity
  </notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.2.0</min>
        <max>1.5.0</max>
        <exclude>1.5.0</exclude>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
    <release>
      <version>
        <release>1.0.2</release>
        <api>1.0.0</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">
        MIT license
      </license>
      <date>2012-07-19</date>
      <license>MIT</license>
      <notes>
         * ldath: stable release
         * ldath: optional PHPTal integrity
      </notes>
    </release>
    <release>
      <version>
        <release>0.1.2</release>
        <api>0.1.0</api>
      </version>
      <stability>
        <release>beta</release>
        <api>beta</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <date>2010-04-08</date>
      <license>MIT</license>
      <notes>
        * Plugin available for 1.4.x too
      </notes>
    </release>
  </changelog>
</package>
